*{
   margin: 0;
   padding: 0;
    box-sizing: border-box;
}
/* Romit- I am having troubles setting heading size and postion, it works but is not proper */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

#heading {
    font: bold 3rem 'Segoe UI', Arial, sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

#smallpara {
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #333;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

/* Subscribe button Added */
#subscribe-btn {
    display: block;
    width: 100px;
    padding: 0.50rem 0;
    background: #000;
    color: #fff;
    border: none;
    margin: 0 auto;
    font-size: 0.60rem;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-align: center;
    cursor: pointer;
}

/* Added Background div */
div {
    width: 20%; 
    height: 90vh; 
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    background-color: #FFF7D8;
    z-index: -1;
}